PORT=3000

API_KEY=CHANGE_ME
API_SECRET=CHANGE_ME
APP_ID=CHANGE_ME
PRIVATE_KEY="-----BEGIN PRIVATE KEY-----CHANGE_ME-----END PRIVATE KEY-----\n"
WHATSAPP_NUMBER=CHANGE_ME
TO_NUMBER=CHANGE_ME

GEOCODE_API_KEY=

VIDS_UTILS_PATH=./utils.js

PUBLIC_URL=https://vids.vonage.com/wav1

PUSHER_APP_ID=
PUSHER_KEY=
PUSHER_SECRET=
PUSHER_CLUSTER=
PUSHER_USE_TLS=true